<%= turbo_frame_tag 'content', class: 'marble-background' do %>
  <div id='friends' class="border-x border-yellow-600 divide-y divide-yellow-600">
    <%= render 'friendships/friendships', friendships: @friendships %>
    <% unless @friendships.last_page? %>
      <%= turbo_frame_tag 'loading-friendships', src: friends_user_profile_path(page: @friendships.next_page, format: :turbo_stream), loading: :lazy %>
    <% end %>
  </div>
<% end %>