<%= render 'shared/nav' %>
<div id='main-feed' class='marble-background max-w-lg mr-a ml-48'>
  <div class='flex space-x-24 border-x border-b border-yellow-600 px-24 py-4 divide divide-inherit'>
    <h1>Main Feed</h1>
    <h1 class='opacity-50'>Personal Feed</h1>
  </div>
  <div class='new-post'>
    <%= render 'posts/form', post: @new_post %>
  </div>
  <div id='posts' class='marble-background'>
    <%= render partial: 'posts/post', collection: @posts %>
  </div>
  <%= turbo_frame_tag 'loading-posts', src: main_feed_path(format: :turbo_stream, page: @posts.next_page), loading: 'lazy' %>
</div>
