<div class="friendship">
  <span class="text-blue-500">
    <%= link_to friendship.friend.name, user_profile_path(friendship.friend.id), data: {turbo: false} %>
    
  </span>
  - <%=friendship.friend.profile.slug %>
</div>
