<div class="friendship">
  <span class="text-blue-500">
    <%= link_to "#{friendship.friend.display_name}", profile_path(friendship.friend.unique_name), data: {turbo: false} %>
    
  </span>
  - <%=friendship.friend.profile.slug %>
</div>
