<div class="text-center align-middle">
  <h1 class="font-bold text-4xl text-blue-500">
    Friendships#create
  </h1>

  <p class="italic text-xs">
    <span class="font-bold">
      Backend Controller Directory:
    </span>
    app/controllers/friendships_controller.rb
  </p>

  <p class="italic text-xs">
    <span class="font-bold">
      Frontend Controller Directory:
    </span>
    app/javascript/controllers/friendships_controller.js
  </p>

  <p class="italic text-xs">
    <span class="font-bold">
      Template Directory:
    </span>
    app/views/friendships/create.html.erb
  </p>
</div>
