<li class="overflow-hidden rounded-md bg-white px-6 py-4 shadow m-2">
  <div id="<%= dom_id post %>">
    <p>
      <strong>User:</strong>
      <%= link_to post.user.display_name, profile_path(post.user), data: { turbo_frame: '_top' } %>
    </p>
    <p>
      <strong>Text:</strong>
      <%= post.text %>
    </p>
  </div>
</li>
