<div id="<%= dom_id post %>" class='p-4 shadow-lg rounded-sm hover:bg-slate-50/50'>
  <p>
    <strong>User:</strong>
    <%= link_to post.user.display_name, user_profile_path(post.user_id), data: { turbo_frame: '_top' }%>
  </p>
  <p>
    <strong>Text:</strong>
    <%= post.text %>
  </p>
</div>
